.col {
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px;

}

h1 {
    text-shadow: 0px 0px 5px orangered;
    color: orange !important;
}

body {
    background: url(https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center center/cover;
    height: 100vh;
}

.result {
    min-height: 60vh;
}

.inpbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: 2px solid orangered;
    border-radius: 5px;
    box-shadow: 0px 0px 2px red;
    margin: 0px 10px !important;
}

input:focus {
    background-color: orangered;
}


.button-42 {
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    line-height: 35px;
    padding: 0 20px;
    border: 0;
    transition: box-shadow .2s;
}

.button-42:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}


.finalResult {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;


}

.my-table th,
.my-table td {
    border: 2px solid orange;
    padding: 0px 50px;
    color: cyan;
    border-radius: 10px;
    text-shadow: 0px 0px 5px black;
    min-width: 200px
}


.mainRow {
    font-size: xx-large;
    color: orangered !important;
}